body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form .logo {
    width: 80%;
    /* Ajuste la largeur du logo */
    max-width: 200px;
    /* Taille maximale */
    height: auto;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.8em;
    margin: 1em 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}