body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 60px;
}

/* Style for the internal navigation of the client page */
.supplier-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.supplier-nav button {
    background-color: #ffb73c;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.supplier-nav button:hover {
    background-color: #fad698;
}

.supplier-main-section {
    width: 90%;
    max-width: 1600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}

.supplier-main-section #separator {
    margin-bottom: 12px;
    border-bottom: 2px solid #8f6722;
}

.supplier-main-section h2, .supplier-main-section h3 {
    color: #ffb73c;
    margin-bottom: 15px;
}

.supplier-main-section form {
    display: flex;
    flex-direction: column;
}

.supplier-main-section input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.supplier-main-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
} 

/* Submit button style */
button[type="submit"] {
    background-color: #28a745;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Return button style */
.return-button-container {
    margin-top: 20px;
    text-align: center;
}

.return-button-container button {
    background-color: #dc3545;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.return-button-container button:hover {
    background-color: #c82333;
}

/* Style for the table */
#supplierTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Styles for the table header */
#supplierTable thead th {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 10px; /* Internal padding */
    text-align: left; /* Left text alignment */
    border-bottom: 2px solid #ddd; /* Bottom border */
}

/* Round the corners of the table header */
#supplierTable thead th:first-child {
    width: 80%;
    border-top-left-radius: 10px; /* Top left corner */
}

#supplierTable thead th:last-child {
    border-top-right-radius: 10px; /* Top right corner */
    width: 10%;
}

#supplierTable tbody tr td {
    padding: 10px; /* Internal padding */
    border-bottom: 1px solid #ddd; /* Bottom border */
}

/* Hover effect for rows */
#supplierTable tbody tr:hover {
    background-color: #f0f0f0 !important; /* Background color on hover */
    cursor: pointer; /* Pointer cursor */
}

/* Alternate colors for table rows */
#supplierTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Background color for even rows */
}

#supplierTable tbody tr:nth-child(odd) {
    background-color: #fff; /* Background color for odd rows */
}

/* Filter style */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-container select,
.filter-container input[type="text"],
.filter-container button {
    padding: 10px;
    margin: 0px 5px 0px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.filter-container select {
    width: 200px;
}

.filter-container input[type="text"] {
    flex: 1;
}

.filter-container button {
    background-color: #ffb73c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #d1a559;
}

.supplier-details {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.supplier-details p {
    margin: 5px 0;
}

/*/////////////////////////////////////////////////////////////////////// */
/* Modal styles */

.modal {
    display: none; /* Hide modals by default */
    position: fixed; /* Position modals fixed */
    z-index: 1000; /* Ensure modals appear above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if necessary */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Styles for modal content */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* Center content vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Content width */
    max-width: 600px; /* Maximum content width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Box shadow */
}

/* Styles for the close button */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for forms in modals */
.modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal form label {
    margin-top: 10px;
}

.modal form input[type="text"],
.modal form input[type="email"],
.modal form input[type="tel"],
.modal form textarea {
    width: auto;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal form button:hover {
    background-color: #218838;
}

.modal h3 {
    color: #ffb73c;
    margin-top: 10;
}


/* /////////////////////////////////////////////////////////////////////// */
/* edit-button style */
.editButton {
    background-color: #007bff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
.editButton:hover {
    background-color: #0056b3;
}

/* /////////////////////////////////////////////////////////////////////// */
/* deleteButton style */

.deleteButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px; /* Espacement entre les boutons */
    width: 100%;
}
.deleteButton:hover {
    background-color: #c82333;
}

/* /////////////////////////////////////////////////////////////////////// */
/* edit contact section style */
.supplier-contacts {
    margin-top: 20px;
}

.contacts-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.contacts-header {
    display: flex;
    background-color: #ebb076;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contacts-body {
    max-height: 200px; /* Hauteur maximale pour activer le défilement */
    overflow-y: auto; /* Activer le défilement vertical */
}

.contacts-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contacts-cell {
    flex: 1;
    padding: 5px;
}

.contacts-cell:last-child {
    flex: 0 0 100px; /* Largeur fixe pour la colonne des actions */
}

.contacts-row:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

.contacts-row:hover {
    background-color: #f0f0f0; /* Couleur de fond lors du survol */
}

/* /////////////////////////////////////////////////////////////////////// */
/* edit address section style */
/* Styles pour la section des adresses */
.supplier-addresses {
    margin-top: 20px;
}

.addresses-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.addresses-header {
    display: flex;
    background-color: #ebb076;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.addresses-body {
    max-height: 200px; /* Hauteur maximale pour activer le défilement */
    overflow-y: auto; /* Activer le défilement vertical */
}

.addresses-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.addresses-cell {
    flex: 1;
    padding: 5px;
}

.addresses-cell:last-child {
    flex: 0 0 100px; /* Largeur fixe pour la colonne des actions */
}

.addresses-row:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

.addresses-row:hover {
    background-color: #f0f0f0; /* Couleur de fond lors du survol */
}

/* /////////////////////////////////////////////////////////////////////// */
/* edit contact methods section style */
.supplier-contact-methods {
    margin-top: 20px;
}

.contact-methods-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.contact-methods-header {
    display: flex;
    background-color: #ebb076;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contact-methods-body {
    max-height: 200px; /* Hauteur maximale pour activer le défilement */
    overflow-y: auto; /* Activer le défilement vertical */
}

.contact-methods-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contact-methods-cell {
    flex: 1;
    padding: 5px;
}

.contact-methods-cell:last-child {
    flex: 0 0 100px; /* Largeur fixe pour la colonne des actions */
}

.contact-methods-row:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

.contact-methods-row:hover {
    background-color: #f0f0f0; /* Couleur de fond lors du survol */
}
