/* user.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2, h3, h4 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, select, .userBtn {
    display: block;
    width: calc(100% - 22px); /* Ajustez la largeur pour tenir compte du padding et de la bordure */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Assurez-vous que le padding et la bordure sont inclus dans la largeur totale */
}

.userBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.userBtn:hover {
    background-color: #0056b3;
}

#userList ul {
    list-style-type: none;
    padding: 0;
}

#userList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#userList li:last-child {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}